<a href="https://colab.research.google.com/github/Oxford-Sustainable-Finance-Group/OxSFG-WasteManagement/blob/main/data_open_streetmap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install osmnx

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting osmnx
  Downloading osmnx-1.3.0-py3-none-any.whl (93 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 93.1/93.1 KB 3.5 MB/s eta 0:00:00
Collecting requests>=2.28
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 7.2 MB/s eta 0:00:00
Requirement already satisfied: Shapely>=2.0 in /usr/local/lib/python3.9/dist-packages (from osmnx) (2.0.1)
Collecting numpy>=1.23
  Downloading numpy-1.24.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.3/17.3 MB 83.2 MB/s eta 0:00:00
Collecting pyproj>=3.4
  Downloading pyproj-3.4.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.7/7.7 MB 107.2 MB/s eta 0:00:00
Collecting pandas>=1.5
  Downloading pandas-1.5.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 112.1 MB/s eta 0:00:00
Requirement already satisfied: matplotlib>=3.5 in /usr/local/lib/python3.9/dist-packages (from osmnx) (3.7.1)
Requirement already satisfied: python-dateutil>=2.8 in /usr/local/lib/python3.9/dist-packages (from osmnx) (2.8.2)
Requirement already satisfied: networkx>=2.8 in /usr/local/lib/python3.9/dist-packages (from osmnx) (3.0)
Collecting geopandas>=0.12
  Downloading geopandas-0.12.2-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 69.7 MB/s eta 0:00:00
Collecting fiona>=1.8
  Downloading Fiona-1.9.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.1/16.1 MB 96.7 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from geopandas>=0.12->osmnx) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.5->osmnx) (8.4.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.5->osmnx) (4.39.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.5->osmnx) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.5->osmnx) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.5->osmnx) (1.0.7)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.5->osmnx) (3.0.9)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.5->osmnx) (5.12.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.5->osmnx) (2022.7.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from pyproj>=3.4->osmnx) (2022.12.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8->osmnx) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.28->osmnx) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.28->osmnx) (1.26.15)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.9/dist-packages (from requests>=2.28->osmnx) (2.0.12)
Collecting munch>=2.3.2
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas>=0.12->osmnx) (6.1.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas>=0.12->osmnx) (8.1.3)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas>=0.12->osmnx) (22.2.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib>=3.5->osmnx) (3.15.0)
Installing collected packages: requests, pyproj, numpy, munch, cligj, click-plugins, pandas, fiona, geopandas, osmnx
  Attempting uninstall: requests
    Found existing installation: requests 2.27.1
    Uninstalling requests-2.27.1:
      Successfully uninstalled requests-2.27.1
  Attempting uninstall: numpy
    Found existing installation: numpy 1.22.4
    Uninstalling numpy-1.22.4:
      Successfully uninstalled numpy-1.22.4
  Attempting uninstall: pandas
    Found existing installation: pandas 1.4.4
    Uninstalling pandas-1.4.4:
      Successfully uninstalled pandas-1.4.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
numba 0.56.4 requires numpy<1.24,>=1.18, but you have numpy 1.24.2 which is incompatible.
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.9.2 geopandas-0.12.2 munch-2.5.0 numpy-1.24.2 osmnx-1.3.0 pandas-1.5.3 pyproj-3.4.1 requests-2.28.2

In [2]:
!pip install numpy --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (1.24.2)

In [3]:
import osmnx as ox
import geopandas as gpd
import pandas as pd

In [13]:
place_name = "beijing, China"#"Gujarat"
# List key-value pairs for tags
tags = {'man_made': 'wastewater_plant', "name":"Waste water treatment plant"}   

buildings = ox.geometries_from_place(place_name, tags)

In [20]:
place_name = "Gujarat, India"#"Gujarat"
tags = {'man_made': 'pulp and paper', "name":"pulp and paper", "industrial":"factory"}   
buildings = ox.geometries_from_place(place_name, tags)

**OSM Building footprints**

It is also possible to retrieve other types of OSM data features with OSMnx such as buildings or points of interest (POIs). Download the buildings with ox.geometries_from_place docs function.

When fetching specific types of geometries from OpenStreetMap using OSMnx geometries_from_place we also need to specify the correct tags. For getting all types of buildings, we can use the tag **building=yes**.

https://pygis.io/docs/d_access_osm.html

In [12]:
buildings.head(60)

                                                                      nodes  \
element_type osmid
way          1061697627   [9754323634, 9754323633, 9754323632, 975432363...
             442144749    [4398395684, 4398395685, 4398395686, 439839568...
node         10308240923                                                NaN

                                  man_made                             name  \
element_type osmid
way          1061697627   wastewater_plant             Water treatment plan
             442144749    wastewater_plant         Sewerage Treatment Plant
node         10308240923  wastewater_plant  Jungshina Sewer Treatment Plant

                                                                   geometry  \
element_type osmid
way          1061697627   POLYGON ((90.51738 27.50781, 90.51767 27.50783...
             442144749    POLYGON ((89.64934 27.43420, 89.64872 27.43396...
node         10308240923                          POINT (89.64028 27.50679)

                         addr:city addr:postcode                addr:street  \
element_type osmid
way          1061697627        NaN           NaN                        NaN
             442144749         NaN           NaN                        NaN
node         10308240923   Thimphu         11001  Jungzhi Wom Zur Lam 16 NE

                                 operator
element_type osmid
way          1061697627               NaN
             442144749                NaN
node         10308240923  Thimphu Thromde

In [10]:
len(buildings)

144

**EPSG:7755 For India**

In [42]:
buildings.crs
type(buildings)

geopandas.geodataframe.GeoDataFrame

In [6]:
data =[]
df = pd.DataFrame(data)
df['Center_point'] = buildings['geometry'].centroid
#Extract lat and lon from the centerpoint
df["lat"] = df.Center_point.map(lambda p: p.y)
df["long"] = df.Center_point.map(lambda p: p.x)
#df.drop(columns=['Center_point'])

<ipython-input-6-7df712f51a91>:3: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  df['Center_point'] = buildings['geometry'].centroid

In [7]:
df

                                      Center_point        lat       long
element_type osmid
way          78484495    POINT (77.10436 28.72588)  28.725877  77.104359
             78799847    POINT (77.18552 28.72764)  28.727639  77.185521
             80511305    POINT (77.28402 28.54776)  28.547758  77.284019
             81056428    POINT (77.27808 28.70507)  28.705070  77.278077
             170984172   POINT (77.32490 28.60637)  28.606365  77.324902
             171438686   POINT (77.09986 28.73835)  28.738348  77.099860
             190333719   POINT (77.16729 28.52459)  28.524594  77.167289
             204980209   POINT (77.22617 28.69121)  28.691214  77.226171
             209495077   POINT (77.02291 28.58701)  28.587009  77.022905
             217295578   POINT (77.00566 28.60843)  28.608427  77.005658
             261665827   POINT (77.07841 28.68387)  28.683866  77.078408
             262627564   POINT (77.08242 28.65197)  28.651973  77.082424
             262667282   POINT (77.09380 28.66677)  28.666767  77.093796
             263595539   POINT (77.01387 28.66053)  28.660527  77.013869
             264861573   POINT (77.28804 28.69797)  28.697972  77.288045
             265401583   POINT (77.05293 28.65615)  28.656153  77.052931
             283617842   POINT (77.32786 28.61014)  28.610143  77.327858
             283808811   POINT (77.33201 28.62734)  28.627342  77.332007
             283808812   POINT (77.32961 28.62773)  28.627734  77.329613
             290140351   POINT (77.23113 28.71658)  28.716577  77.231128
             290626092   POINT (77.19163 28.72227)  28.722271  77.191627
             291654385   POINT (77.13151 28.62982)  28.629819  77.131509
             294042636   POINT (77.26014 28.57618)  28.576179  77.260144
             297015001   POINT (77.08196 28.80847)  28.808472  77.081955
             408087289   POINT (77.12718 28.63510)  28.635105  77.127177
             427406081   POINT (77.04880 28.67052)  28.670524  77.048805
             533569863   POINT (77.14607 28.52367)  28.523666  77.146070
             632857887   POINT (77.19162 28.51620)  28.516204  77.191615
             740035787   POINT (77.04790 28.65554)  28.655542  77.047903
             904462116   POINT (77.17634 28.70110)  28.701102  77.176342
             952398097   POINT (77.03451 28.61199)  28.611995  77.034506
             1007603946  POINT (77.00842 28.60460)  28.604597  77.008424
             1039286504  POINT (77.27441 28.56456)  28.564565  77.274411
             1039286505  POINT (77.27442 28.56506)  28.565056  77.274418
             1039286506  POINT (77.27485 28.56481)  28.564813  77.274855
             1039286507  POINT (77.27519 28.56482)  28.564818  77.275187
             1039286508  POINT (77.27519 28.56450)  28.564503  77.275188
             1039286509  POINT (77.27488 28.56451)  28.564505  77.274877
             1039286510  POINT (77.27523 28.56514)  28.565144  77.275234
             1039286511  POINT (77.27480 28.56514)  28.565136  77.274803

In [8]:
df1 = pd.DataFrame(buildings)

In [9]:
df_merged =  pd.concat([df1, df], axis=1)#pd.concat([df1, df], ignore_index=True, sort=False)

In [10]:
df_merged

                                                                     nodes  \
element_type osmid
way          78484495    [921084493, 921084218, 921084348, 921084060, 9...
             78799847    [10691257896, 923248451, 923246846, 923247304,...
             80511305    [939235155, 2636326514, 2716639091, 2716639081...
             81056428    [944838161, 6199491471, 944838162, 944838163, ...
             170984172   [2876382095, 1820887278, 2877346903, 182088746...
             171438686   [1824638367, 1824638463, 1824638556, 182463866...
             190333719   [2009502733, 2009502666, 2009502730, 200950267...
             204980209   [2149585867, 2149585865, 2149585868, 214958587...
             209495077   [2197040349, 9295863359, 2197040347, 219704034...
             217295578   [2265732278, 2265732296, 2265732275, 226573225...
             261665827   [2672654996, 2672617436, 2672617438, 267261744...
             262627564   [2683021547, 2683707205, 2683707101, 268370716...
             262667282   [2683357154, 7635184081, 7635184082, 763518408...
             263595539   [2692217193, 2692217190, 2692217157, 269221719...
             264861573   [2705204267, 2705204268, 2705204239, 270520430...
             265401583   [2710718491, 2710727440, 2710718556, 271071846...
             283617842   [2874589181, 2874589188, 2874589197, 287458918...
             283808811   [2876336574, 2876336572, 2876336573, 287633657...
             283808812   [2876336582, 903988344, 903988395, 903988625, ...
             290140351   [2936659549, 2936659552, 2936659559, 293665956...
             290626092   [2941389576, 2941389574, 2941389573, 294138957...
             291654385   [2951211621, 2951211623, 2951211622, 295121161...
             294042636   [2976133344, 2976133341, 2976133345, 297613334...
             297015001   [3008518885, 3008518886, 3008518893, 300851889...
             408087289   [4101041865, 4101042091, 4101042090, 410104186...
             427406081   [4266395279, 4266395296, 4266395297, 426639528...
             533569863   [2669978485, 2669978474, 5176270047, 517627004...
             632857887   [5974787324, 5974787277, 5974787306, 597478730...
             740035787   [6928861111, 6928861112, 6928861113, 692886111...
             904462116   [8399880220, 8399880219, 8399880218, 839988021...
             952398097   [8815115868, 8815115869, 8815115870, 881511587...
             1007603946  [9295863330, 2700344193, 2700344156, 226573226...
             1039286504  [9570465203, 9570465204, 9570465205, 957046520...
             1039286505  [9570465191, 9570465192, 9570465193, 957046519...
             1039286506  [9570498440, 9570498441, 9570498442, 957049844...
             1039286507  [9570498454, 9570498455, 9570498456, 957049845...
             1039286508  [9570498467, 9570498468, 9570498469, 957049847...
             1039286509  [9570498478, 9570498479, 9570498480, 957049848...
             1039286510  [9570465214, 9570465215, 9570465216, 957049841...
             1039286511  [9570498427, 9570498428, 9570498429, 957049843...

                                 man_made  \
element_type osmid
way          78484495    wastewater_plant
             78799847    wastewater_plant
             80511305    wastewater_plant
             81056428    wastewater_plant
             170984172   wastewater_plant
             171438686   wastewater_plant
             190333719   wastewater_plant
             204980209   wastewater_plant
             209495077   wastewater_plant
             217295578   wastewater_plant
             261665827   wastewater_plant
             262627564   wastewater_plant
             262667282   wastewater_plant
             263595539   wastewater_plant
             264861573   wastewater_plant
             265401583   wastewater_plant
             283617842   wastewater_plant
             283808811   wastewater_plant
             283808812   wastewater_plant
             290140351   wastewater_plant
             290626092   wastewater_plant
             291654385   wastewater_plant
             294042636   wastewater_plant
             297015001   wastewater_plant
             408087289   wastewater_plant
             427406081   wastewater_plant
             533569863   wastewater_plant
             632857887   wastewater_plant
             740035787   wastewater_plant
             904462116   wastewater_plant
             952398097   wastewater_plant
             1007603946  wastewater_plant
             1039286504  wastewater_plant
             1039286505  wastewater_plant
             1039286506  wastewater_plant
             1039286507  wastewater_plant
             1039286508  wastewater_plant
             1039286509  wastewater_plant
             1039286510  wastewater_plant
             1039286511  wastewater_plant

                                                                  geometry  \
element_type osmid
way          78484495    POLYGON ((77.10926 28.72490, 77.10948 28.72475...
             78799847    POLYGON ((77.18820 28.72614, 77.18674 28.72630...
             80511305    POLYGON ((77.27752 28.55032, 77.27793 28.55048...
             81056428    POLYGON ((77.27432 28.70286, 77.27526 28.70558...
             170984172   POLYGON ((77.32087 28.60756, 77.32171 28.60870...
             171438686   POLYGON ((77.09973 28.73401, 77.09707 28.73581...
             190333719   POLYGON ((77.16591 28.52567, 77.16726 28.52495...
             204980209   POLYGON ((77.22576 28.68657, 77.22864 28.68704...
             209495077   POLYGON ((77.02634 28.58366, 77.02535 28.58385...
             217295578   POLYGON ((77.00693 28.60633, 77.00917 28.60630...
             261665827   POLYGON ((77.07794 28.68428, 77.07787 28.68353...
             262627564   POLYGON ((77.08477 28.64804, 77.08463 28.64822...
             262667282   POLYGON ((77.09295 28.66728, 77.09480 28.66700...
             263595539   POLYGON ((77.01194 28.65975, 77.01602 28.65973...
             264861573   POLYGON ((77.28310 28.69757, 77.28343 28.69745...
             265401583   POLYGON ((77.04834 28.65326, 77.04695 28.65325...
             283617842   POLYGON ((77.32771 28.60966, 77.32852 28.61015...
             283808811   POLYGON ((77.33080 28.62648, 77.33124 28.62610...
             283808812   POLYGON ((77.32875 28.62888, 77.32902 28.62898...
             290140351   POLYGON ((77.23141 28.71209, 77.22991 28.71256...
             290626092   POLYGON ((77.18960 28.72547, 77.18876 28.72245...
             291654385   POLYGON ((77.13068 28.62937, 77.13205 28.63096...
             294042636   POLYGON ((77.26045 28.57578, 77.26001 28.57552...
             297015001   POLYGON ((77.08126 28.80715, 77.08321 28.80788...
             408087289   POLYGON ((77.12788 28.63523, 77.12687 28.63562...
             427406081   POLYGON ((77.05117 28.66866, 77.05114 28.67236...
             533569863   POLYGON ((77.14637 28.52378, 77.14584 28.52384...
             632857887   POLYGON ((77.19221 28.51556, 77.19303 28.51563...
             740035787   POLYGON ((77.04816 28.65803, 77.04536 28.65416...
             904462116   POLYGON ((77.17609 28.70184, 77.17740 28.70073...
             952398097   POLYGON ((77.03441 28.61206, 77.03455 28.61210...
             1007603946  POLYGON ((77.01050 28.60329, 77.01040 28.60341...
             1039286504  POLYGON ((77.27420 28.56463, 77.27419 28.56457...
             1039286505  POLYGON ((77.27422 28.56513, 77.27420 28.56507...
             1039286506  POLYGON ((77.27497 28.56475, 77.27498 28.56479...
             1039286507  POLYGON ((77.27531 28.56477, 77.27532 28.56481...
             1039286508  POLYGON ((77.27532 28.56452, 77.27531 28.56455...
             1039286509  POLYGON ((77.27477 28.56453, 77.27477 28.56450...
             1039286510  POLYGON ((77.27515 28.56520, 77.27513 28.56517...
             1039286511  POLYGON ((77.27470 28.56517, 77.27470 28.56514...

                            landuse barrier  \
element_type osmid
way          78484495           NaN     NaN
             78799847    industrial     NaN
             80511305           NaN    wall
             81056428           NaN     NaN
             170984172          NaN    wall
             171438686          NaN     NaN
             190333719          NaN    wall
             204980209          NaN     NaN
             209495077          NaN    wall
             217295578          NaN    wall
             261665827          NaN     NaN
             262627564          NaN    wall
             262667282          NaN     NaN
             263595539          NaN     NaN
             264861573          NaN    wall
             265401583   industrial     NaN
             283617842          NaN    wall
             283808811          NaN    wall
             283808812          NaN    wall
             290140351          NaN    wall
             290626092          NaN    wall
             291654385          NaN    wall
             294042636          NaN    wall
             297015001          NaN     NaN
             408087289          NaN     NaN
             427406081          NaN     NaN
             533569863          NaN     NaN
             632857887          NaN     NaN
             740035787          NaN     NaN
             904462116          NaN     NaN
             952398097          NaN     NaN
             1007603946         NaN    wall
             1039286504         NaN     NaN
             1039286505         NaN     NaN
             1039286506         NaN     NaN
             1039286507         NaN     NaN
             1039286508         NaN     NaN
             1039286509         NaN     NaN
             1039286510         NaN     NaN
             1039286511         NaN     NaN

                                                               name  \
element_type osmid
way          78484495                                           NaN
             78799847                                           NaN
             80511305                Sewage Treatment Plant - Okhla
             81056428                                           STP
             170984172                       Sewage Treatment Plant
             171438686                                          NaN
             190333719                                          NaN
             204980209                        Water Treatment Plant
             209495077                                          NaN
             217295578                              Delhi Jal Board
             261665827                              Delhi Jal Board
             262627564                              Delhi Jal Board
             262667282                              Delhi Jal Board
             263595539                              Delhi Jal Board
             264861573                              Delhi Jal Board
             265401583                                          NaN
             283617842                                          NaN
             283808811                                          NaN
             283808812                                          NaN
             290140351                              Delhi Jal Board
             290626092                              Delhi Jal Board
             291654385                              Delhi Jal Board
             294042636                                          NaN
             297015001                                          NaN
             408087289                                          NaN
             427406081                                          NaN
             533569863                                          NaN
             632857887                        Water Treatment Plant
             740035787   Veolia Water Treatment Research India Ltd.
             904462116                              Delhi Jal Board
             952398097                        Water Softening Plant
             1007603946                             Delhi Jal Board
             1039286504                                         NaN
             1039286505                                         NaN
             1039286506                                         NaN
             1039286507                                         NaN
             1039286508                                         NaN
             1039286509                                         NaN
             1039286510                                         NaN
             1039286511                                         NaN

                                operator addr:city addr:housenumber  \
element_type osmid
way          78484495                NaN       NaN              NaN
             78799847                NaN       NaN              NaN
             80511305                NaN       NaN              NaN
             81056428                NaN       NaN              NaN
             170984172               NaN       NaN              NaN
             171438686               NaN       NaN              NaN
             190333719               NaN       NaN              NaN
             204980209               NaN       NaN              NaN
             209495077               NaN       NaN              NaN
             217295578               NaN       NaN              NaN
             261665827               NaN       NaN              NaN
             262627564   Delhi Jal Board       NaN              NaN
             262667282               NaN       NaN              NaN
             263595539               NaN       NaN              NaN
             264861573               NaN       NaN              NaN
             265401583               NaN       NaN              NaN
             283617842               NaN       NaN              NaN
             283808811               NaN       NaN              NaN
             283808812               NaN       NaN              NaN
             290140351               NaN       NaN              NaN
             290626092               NaN       NaN              NaN
             291654385               NaN       NaN              NaN
             294042636               NaN       NaN              NaN
             297015001               NaN       NaN              NaN
             408087289               NaN       NaN              NaN
             427406081               NaN       NaN              NaN
             533569863               NaN       NaN              NaN
             632857887               NaN       NaN              NaN
             740035787               NaN     Delhi    B-30, Ranhola
             904462116               NaN       NaN              NaN
             952398097               NaN       NaN              NaN
             1007603946              NaN       NaN              NaN
             1039286504  Delhi Jal Board       NaN              NaN
             1039286505  Delhi Jal Board       NaN              NaN
             1039286506  Delhi Jal Board       NaN              NaN
             1039286507  Delhi Jal Board       NaN              NaN
             1039286508  Delhi Jal Board       NaN              NaN
             1039286509  Delhi Jal Board       NaN              NaN
             1039286510  Delhi Jal Board       NaN              NaN
             1039286511  Delhi Jal Board       NaN              NaN

                        addr:postcode             addr:street  \
element_type osmid
way          78484495             NaN                     NaN
             78799847             NaN                     NaN
             80511305             NaN                     NaN
             81056428             NaN                     NaN
             170984172            NaN                     NaN
             171438686            NaN                     NaN
             190333719            NaN                     NaN
             204980209            NaN                     NaN
             209495077            NaN                     NaN
             217295578            NaN                     NaN
             261665827            NaN                     NaN
             262627564            NaN                     NaN
             262667282            NaN                     NaN
             263595539            NaN                     NaN
             264861573            NaN                     NaN
             265401583            NaN                     NaN
             283617842            NaN                     NaN
             283808811            NaN                     NaN
             283808812            NaN                     NaN
             290140351            NaN                     NaN
             290626092            NaN                     NaN
             291654385            NaN                     NaN
             294042636            NaN                     NaN
             297015001            NaN                     NaN
             408087289            NaN                     NaN
             427406081            NaN                     NaN
             533569863            NaN                     NaN
             632857887            NaN                     NaN
             740035787         110041  Nilothi Rd, Amritapuri
             904462116            NaN                     NaN
             952398097            NaN                     NaN
             1007603946           NaN                     NaN
             1039286504           NaN                     NaN
             1039286505           NaN                     NaN
             1039286506           NaN                     NaN
             1039286507           NaN                     NaN
             1039286508           NaN                     NaN
             1039286509           NaN                     NaN
             1039286510           NaN                     NaN
             1039286511           NaN                     NaN

                                      Center_point        lat       long
element_type osmid
way          78484495    POINT (77.10436 28.72588)  28.725877  77.104359
             78799847    POINT (77.18552 28.72764)  28.727639  77.185521
             80511305    POINT (77.28402 28.54776)  28.547758  77.284019
             81056428    POINT (77.27808 28.70507)  28.705070  77.278077
             170984172   POINT (77.32490 28.60637)  28.606365  77.324902
             171438686   POINT (77.09986 28.73835)  28.738348  77.099860
             190333719   POINT (77.16729 28.52459)  28.524594  77.167289
             204980209   POINT (77.22617 28.69121)  28.691214  77.226171
             209495077   POINT (77.02291 28.58701)  28.587009  77.022905
             217295578   POINT (77.00566 28.60843)  28.608427  77.005658
             261665827   POINT (77.07841 28.68387)  28.683866  77.078408
             262627564   POINT (77.08242 28.65197)  28.651973  77.082424
             262667282   POINT (77.09380 28.66677)  28.666767  77.093796
             263595539   POINT (77.01387 28.66053)  28.660527  77.013869
             264861573   POINT (77.28804 28.69797)  28.697972  77.288045
             265401583   POINT (77.05293 28.65615)  28.656153  77.052931
             283617842   POINT (77.32786 28.61014)  28.610143  77.327858
             283808811   POINT (77.33201 28.62734)  28.627342  77.332007
             283808812   POINT (77.32961 28.62773)  28.627734  77.329613
             290140351   POINT (77.23113 28.71658)  28.716577  77.231128
             290626092   POINT (77.19163 28.72227)  28.722271  77.191627
             291654385   POINT (77.13151 28.62982)  28.629819  77.131509
             294042636   POINT (77.26014 28.57618)  28.576179  77.260144
             297015001   POINT (77.08196 28.80847)  28.808472  77.081955
             408087289   POINT (77.12718 28.63510)  28.635105  77.127177
             427406081   POINT (77.04880 28.67052)  28.670524  77.048805

In [28]:
df_merged.drop(columns=['Center_point','nodes'])

                       addr:city addr:postcode          addr:street  \
element_type osmid
way          909506225  Vadodara        391510  Vadodara-Halol Road
             515850154       NaN           NaN                  NaN
             547008856   Tarsadi        394120   Sahol - Kosamba Rd

                                                    address  \
element_type osmid
way          909506225  Nexus Industrial and Logistics Park
             515850154                                  NaN
             547008856                                  NaN

                                                description industrial  \
element_type osmid
way          909506225  industrial shed, factory, warehouse    factory
             515850154                                  NaN    factory
             547008856                                  NaN    factory

                           landuse                   name  \
element_type osmid
way          909506225  industrial  Nexus Industrial Park
             515850154  industrial          JK Paper Ltd.
             547008856  industrial  Piramal Glass Limited

                                                                 geometry  \
element_type osmid
way          909506225  POLYGON ((73.30688 22.41552, 73.30701 22.41608...
             515850154  POLYGON ((73.57080 21.20788, 73.57125 21.20716...
             547008856  POLYGON ((72.94179 21.45202, 72.94142 21.45180...

                              lat       long
element_type osmid
way          909506225  22.417047  73.307853
             515850154  21.210072  73.572891
             547008856  21.455397  72.942979

In [51]:
df_merged.to_csv('/content/drive/MyDrive/POSTDOC/Openstreetmap/India/Telangana/OpenStreetDaata_Telangana.csv')

*we want to access this data outside of python, or have a permanent copy*

In [52]:
buildings  = buildings.loc[:,buildings.columns.str.contains('addr:|geometry')]
buildings = buildings.loc[buildings.geometry.type=='Polygon']

In [53]:
# Save footprints 
buildings.to_file('/content/drive/MyDrive/POSTDOC/Openstreetmap/India/Telangana/Telangana.shp')  
# Or save in a more open source format
#buildings.to_file('../temp/edgewood_buildings.geojson', driver='GeoJSON')

<ipython-input-53-ff9418111e32>:2: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  buildings.to_file('/content/drive/MyDrive/POSTDOC/Openstreetmap/India/Uttarakhand/Uttarakhand.shp')
WARNING:fiona._env:Normalized/laundered field name: 'element_type' to 'element_ty'